In [1]:
import numpy as np 
import pandas as pd

In [3]:
df1 = pd.read_csv("/content/drive/My Drive/fake_job_postings.csv")

In [4]:
df1.head()

   job_id  ... fraudulent
0       1  ...          0
1       2  ...          0
2       3  ...          0
3       4  ...          0
4       5  ...          0

[5 rows x 18 columns]

In [5]:
df=df1[['description','requirements','fraudulent']]
df.head()

                                         description  ... fraudulent
0  Food52, a fast-growing, James Beard Award-winn...  ...          0
1  Organised - Focused - Vibrant - Awesome!Do you...  ...          0
2  Our client, located in Houston, is actively se...  ...          0
3  THE COMPANY: ESRI – Environmental Systems Rese...  ...          0
4  JOB TITLE: Itemization Review ManagerLOCATION:...  ...          0

[5 rows x 3 columns]

In [6]:
###Drop Nan Values
df=df.dropna()

In [7]:

X=df.drop('fraudulent',axis=1)

In [8]:
## Get the Dependent features
y=df['fraudulent']

In [9]:
import tensorflow as tf
from tensorflow.keras.layers import Embedding
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.preprocessing.text import one_hot
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Bidirectional
from tensorflow.keras.layers import Dropout

In [10]:
voc_size=5000
message = X.copy()
message['description'][1]

"Organised - Focused - Vibrant - Awesome!Do you have a passion for customer service? Slick typing skills? Maybe Account Management? ...And think administration is cooler than a polar bear on a jetski? Then we need to hear you!\xa0We are the Cloud Video Production Service and opperating on a glodal level. Yeah, it's pretty cool. Serious about\xa0delivering a world class product and excellent customer service.Our rapidly expanding business is looking for a talented Project Manager to manage the successful delivery of video projects, manage client communications and drive the production process. Work with some of the coolest brands on the planet and learn from a global team that are representing NZ is a huge way!We are entering the next growth stage of our business and growing quickly internationally. \xa0Therefore, the position is bursting with opportunity for the right person entering the business at the right time.\xa090 Seconds, the worlds Cloud Video Production Service -\xa0http://90#URL_fbe6559afac620a3cd2c22281f7b8d0eef56a73e3d9a311e2f1ca13d081dd630#90 Seconds is the worlds Cloud Video Production Service enabling brands and agencies to get high quality online video content shot and produced anywhere in the world. Fast, affordable, and all managed seamlessly in the cloud from purchase to publish.\xa090 Seconds removes the hassle, cost, risk and speed issues of working with regular video production companies by managing every aspect of video projects in a beautiful online experience. \xa0With a growing network of over 2,000 rated video professionals in over 50 countries and dedicated production success teams in 5 countries guaranteeing video project success 100%. It's as easy as commissioning a quick google adwords campaign.90 Seconds has produced almost 4,000 videos in over 30 Countries for over 500 Global brands including some of the worlds largest including Paypal, L'oreal, Sony and Barclays and has offices in Auckland, London, Sydney, Tokyo &amp; Singapore.Our Auckland office is based\xa0right in the heart of the Wynyard Quarter Innovation Precinct - GridAKL!\xa0"

In [16]:
message.reset_index(inplace=True)
import nltk
import re
from nltk.corpus import stopwords

In [17]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
corpus = []
for i in range(0, len(message)):
    review = re.sub('[^a-zA-Z]', ' ', message['description'][i])
    review = review.lower()
    review = review.split()
    
    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus.append(review)

In [18]:
onehot_repr=[one_hot(words,voc_size)for words in corpus]

In [26]:
sent_length=40
embedded_docs=pad_sequences(onehot_repr,padding='pre',maxlen=sent_length)
embedding_vector_features=50

model1=Sequential()
model1.add(Embedding(voc_size,embedding_vector_features,input_length=sent_length))
model1.add(Bidirectional(LSTM(100))) ##Just add bidirectional!!, except it would just behave as normal LSTM Model
model1.add(Dropout(0.3))
model1.add(Dense(1,activation='sigmoid'))
model1.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
print(model1.summary())

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 40, 50)            250000
_________________________________________________________________
bidirectional_1 (Bidirection (None, 200)               120800
_________________________________________________________________
dropout_1 (Dropout)          (None, 200)               0
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 201
=================================================================
Total params: 371,001
Trainable params: 371,001
Non-trainable params: 0
_________________________________________________________________
None

In [27]:
import numpy as np
X_final=np.array(embedded_docs)
y_final=np.array(y)

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_final, y_final, test_size=0.25, random_state=32)

In [29]:
model1.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=12,batch_size=64)

Epoch 1/12
178/178 [==============================] - 16s 91ms/step - loss: 0.1880 - accuracy: 0.9571 - val_loss: 0.1552 - val_accuracy: 0.9563
Epoch 2/12
178/178 [==============================] - 15s 87ms/step - loss: 0.0849 - accuracy: 0.9755 - val_loss: 0.1371 - val_accuracy: 0.9629
Epoch 3/12
178/178 [==============================] - 15s 87ms/step - loss: 0.0534 - accuracy: 0.9843 - val_loss: 0.1590 - val_accuracy: 0.9655
Epoch 4/12
178/178 [==============================] - 15s 87ms/step - loss: 0.0342 - accuracy: 0.9910 - val_loss: 0.1457 - val_accuracy: 0.9666
Epoch 5/12
178/178 [==============================] - 16s 87ms/step - loss: 0.0239 - accuracy: 0.9939 - val_loss: 0.1675 - val_accuracy: 0.9684
Epoch 6/12
178/178 [==============================] - 15s 87ms/step - loss: 0.0129 - accuracy: 0.9961 - val_loss: 0.1981 - val_accuracy: 0.9679
Epoch 7/12
178/178 [==============================] - 16s 90ms/step - loss: 0.0070 - accuracy: 0.9982 - val_loss: 0.2201 - val_accuracy: 0.9676
Epoch 8/12
178/178 [==============================] - 16s 87ms/step - loss: 0.0054 - accuracy: 0.9986 - val_loss: 0.2068 - val_accuracy: 0.9666
Epoch 9/12
178/178 [==============================] - 15s 87ms/step - loss: 0.0042 - accuracy: 0.9991 - val_loss: 0.2570 - val_accuracy: 0.9668
Epoch 10/12
178/178 [==============================] - 16s 87ms/step - loss: 0.0026 - accuracy: 0.9995 - val_loss: 0.2747 - val_accuracy: 0.9668
Epoch 11/12
178/178 [==============================] - 16s 87ms/step - loss: 0.0023 - accuracy: 0.9995 - val_loss: 0.3244 - val_accuracy: 0.9652
Epoch 12/12
178/178 [==============================] - 15s 86ms/step - loss: 0.0036 - accuracy: 0.9993 - val_loss: 0.2178 - val_accuracy: 0.9668

In [30]:
y_pred=model1.predict_classes(X_test)

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

WARNING:tensorflow:From <ipython-input-30-83ced016ce61>:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).

0.966815907295233